<p id="notice"><%= notice %></p>

<div class="panel">

<%if current_player%>
    <h1>Logged in as <%= current_player.name %></h1>

    <%if current_player.is_leader%>
        <h3>Leader Mode is Active (Change in Player/Edit).</h3>
        <ul>
            <li>Step 1: Create a Squad</li>
            <li>Step 2: Create an Encounter</li>
            <li>Step 4: Have your players switch their Squad to your Squad.</li>
            <li>Step 5: Assign Encounter+Character References (ECRS).  Basically manually linking Encounter records to Character records.</li>
            <li>Step 6: Create Pulls for the Encounter (i.e. Phase 1, Phase 2, etc.)</li>
            <li>Step 7: Create Pull Roles for each Pull (i.e. Green Circles, Melee DPS, etc.)</li>
            <li>Step 8: Assign Character+Pull Role References (CPRRS).  Basically manually linking Character records to Pull Role records.</li>
            <li>Step 10: Have your Squad click the Encounter link, then click "show" next to the encounter you'd like to play.  This will take you all to the plan screen.</li>
        </ul>
    <%else%>
        <h3>Player Mode is Active (Change in Player/Edit).</h3>
            <ul>
                <li>Step 1: Create your Characters (eventually you'll just add your API key and press a button)</li>
                <li>Step 2: Assign your Player record (Players->Self->Edit) to the Squad that your Leader tells you to.</li>
                <li>Step 3: When your leader tells you to, click the Encounter link, then click "show" next to the encounter you'd like to play.</li>
            </ul>
    <%end%>

<%else%>
    <h1>Not Logged In.  Please Log In.</h1>
    <%= link_to('Login', new_player_session_path)  %>
<%end%>    

</div>